html {
	background-color:#fff;
}
* {
	margin:0px;
	padding:0px;
}
body {
	font-family:Roberto, Verdana, Geneva, sans-serif;
	font-size:1rem;	
}
p {
	margin-bottom:12px;
}
a 	{
	text-decoration:none;
	color:#2f5572;
}
footer {
	width:100%;
	font-size:.6rem;
	color:#666;
	margin-top:40px;
}
.page-container {
	max-width:900px;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
}
.title {
	font-family:'Roberto', sans-serif;
	font-weight:200;
	color:#b73317;
	margin-bottom:20px;
}
.content-container {
	margin-left:40px;
	margin-right:40px;
}
.heading {
	font-family:'Roberto', sans-serif;
	color:#2f5572;
	font-weight:100;
	font-size:1.5rem;
	margin-bottom:1rem;
}
